# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# React Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Bundle artifacts
*.jsbundle

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# ESLint + Prettier
.eslintcache

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro
.metro-health-check*

# AsyncStorage debug
local-storage.json
